ai-powered-gmail-drafts.json
{
  "name": "ai-powered-gmail-drafts",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -640,
        -448
      ],
      "id": "1fa0f4ad-57a6-488e-81f6-5ab623b95889",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "KiSXinVELHtyRGvG",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Job offer",
              "description": "Emails that contain an employment offer from a company or recruiter. Typically include details such as job title, position, salary, benefits, start date, location, and instructions for accepting or declining the offer."
            },
            {
              "category": "Sponsorship ",
              "description": "Emails related to sponsorship opportunities or requests. These usually include proposals for financial or resource support, partnership offers, brand collaborations, event sponsorships, or funding inquiries."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -464,
        -336
      ],
      "id": "986a6ad1-3827-4705-89b2-e18cfd3a5a40",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-maverick-17b-128e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -624,
        -128
      ],
      "id": "3234fbd3-18d2-4a8c-a6a2-7659e628ce46",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "faqgeStumIQXRlwS",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.message.content.subject }}",
        "message": "={{ $json.message.content.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        192,
        -432
      ],
      "id": "bec4c2d9-f0f2-44b8-94af-5de84613afe7",
      "name": "Create a draft",
      "webhookId": "b976b2e9-0148-4cbd-9b98-ce31c9374d48",
      "credentials": {
        "gmailOAuth2": {
          "id": "KiSXinVELHtyRGvG",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.message.content.reply.subject }}",
        "message": "={{ $json.message.content.reply.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        192,
        -208
      ],
      "id": "8211354d-0c34-4808-a884-a0c9646e11c4",
      "name": "Create a draft1",
      "webhookId": "d4bebe7c-800c-4774-9d73-b14b84aec18e",
      "credentials": {
        "gmailOAuth2": {
          "id": "KiSXinVELHtyRGvG",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are the email assistant of Rounak Raj, who is seeking job opportunities in AI & Machine Learning.\n\nWhen a Job Offer email is received:\n\nExtract the offered salary (in LPA).\n\nApply this rule:\nIf the salary is 6 LPA or above, generate a polite and professional acceptance reply.\n\nIf the salary is below 6 LPA, generate a polite and professional decline reply, clearly stating that Rounak Raj is expecting 6 LPA or above.\n\nAlways humanize the tone — make it sound warm, respectful, and natural, not robotic.\n\nFormat the reply like a real email with subject and\nbody, and closing.\n\nEnd every reply with:\n\nBest regards,\nRounak Raj\n\nThe Email is respond to: {{ $json.text }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -160,
        -432
      ],
      "id": "20dee42a-93b8-4ad9-adfa-6eb8303ca88a",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "IAVtrYpnbfPcCNMX",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an assistant that replies to incoming sponsorship emails on behalf of the user GST Compliance.  \n\nRules:  \n1. Always reply politely and professionally.  \n2. If the sponsorship offer is below ₹3,00,000, politely decline by saying the user is only accepting sponsorships of ₹3,00,000 or above.  \n3. If the sponsorship offer is ₹3,00,000 or above, politely accept and thank them for the opportunity.  \n4. Keep the reply human-like, and respectful,warm and frienly.  \n5. Do not draft or send new sponsorship requests. Only reply to incoming mails.  \n\nThe Email is respond to: {{ $json.text }}",
              "role": "assistant"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -176,
        -208
      ],
      "id": "1450368f-996b-4e22-90d2-a69f7473feea",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "IAVtrYpnbfPcCNMX",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Create a draft1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "67484597-3a8a-4882-bc9e-6042edf25928",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f0d206fa8757cb5c7c9392d6e78bbaec483cb07f726f530630c00ab6f7e2f600"
  },
  "id": "BR8E7IFEP2dla1Fm",
  "tags": []
}